@model List<Karyawan>

<div class="container mt-4">
    <h4><i class="bi bi-person-lines-fill"></i> Aplikasi Data Karyawan</h4>

<!-- Search -->
<form method="get">
    <div class="row mb-3">
        <div class="col-md-4">
            <label>NIK</label>
            <input name="nama" class="form-control" value="@ViewBag.Nik" />
        </div>
        <div class="col-md-4">
            <label>Nama</label>
            <input name="nama" class="form-control" value="@ViewBag.Nama" />
        </div>
        <div class="col-md-4 d-flex align-items-end gap-2">
            <button class="btn btn-primary">Search</button>
            <a href="/Karyawan/Create" class="btn btn-success">Add</a>
        </div>
    </div>
</form>

<!-- Table -->
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>No</th><th>NIK</th><th>Nama Lengkap</th><th>Umur</th>
            <th>Tanggal Lahir</th><th>Jenis Kelamin</th><th>Alamat</th>
            <th>Negara</th><th>Action</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            var k = Model[i];
            <tr>
                <td>@(i+1)</td>
                <td>@k.NIK</td>
                <td>@k.NamaLengkap</td>
                <td>@k.Umur</td>
                <td>@k.TanggalLahir?.ToString("dd-MM-yy")</td>
                <td>@k.JenisKelamin</td>
                <td>@k.Alamat</td>
                <td>@k.Negara</td>
                <td>
                    <a href="/Karyawan/Detail/@k.NIK" class="text-primary">Detail</a>
                    <a href="/Karyawan/Edit/@k.NIK" class="text-warning">Edit</a>
                    <a href="#" class="text-danger btn-delete"
                        data-id="@k.NIK" data-nama="@k.NamaLengkap">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>

<!-- Modal Konfirmasi Delete -->
<div class="modal fade" id="modalDelete" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                Anda yakin menghapus data <strong id="deleteNama"></strong>?
            </div>
            <div class="modal-footer">
                <form id="formDelete" method="post">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger">OK</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $('.btn-delete').click(function () {
            var id = $(this).data('id');
            var nama = $(this).data('nama');
            $('#deleteNama').text(nama);
            $('#formDelete').attr('action', '/Karyawan/Delete/' + id);
            $('#modalDelete').modal('show');
        })
    </script>
}